.form {
  width: 371px;
  margin: 0 auto;
  margin-top: 36px;
}
.gallery {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.loader {
  display: none;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  animation: smokeOut 1s ease-in-out infinite alternate;
  text-shadow: 0 0 1px black;
}
.loader:before {
  content: 'Loading';
}

@keyframes smokeOut {
  100% {
    opacity: 0.08;
    filter: blur(5px);
    letter-spacing: 4px;
  }
}
.form-input {
  padding: 0;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 254px;
  height: 38px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;
}
.form-input:hover {
  border: 1px solid #000;
}
.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.form-btn:hover {
  background: #6c8cff;
}
/* --------------------------------------------------------------------- */
.list-item {
  border: 1px solid #808080;
  width: 360px;
}
/* .list-item-img{

} */
.info-container {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-around;
}
.list-item-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
